
<!--Login Form-->
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="submitLogin()" [formGroup]="loginForm">
      <div>
        <div>
          <label>
            EMAIL:
          </label>
          <mat-form-field>
            <input matInput placeholder="email" formControlName="email" />
          </mat-form-field>
        </div>

        <div>
          <label>
            PASSWORD:
          </label>
          <mat-form-field>
            <input matInput placeholder="password" type="password" formControlName="password" />
          </mat-form-field>
        </div>

      </div>

      <div>
        <div>
          <button mat-button type="submit">
            Login
          </button>

          <button mat-button (click)="goToRegistration($event)">
            Register
          </button>
        </div>
      </div>

    </form>
  </mat-card-content>
 </mat-card>
  
