# Ignore VS Code settings
.vscode/

# Ignore IntelliJ IDEA settings
.idea/

# Ignore node_modules
node_modules/

# Ignore Angular temporary files
.angular/

# Ignore dist folder (build output)
dist/

# Ignore cache and temp folders
.angular/cache/

# Ignore system files in task_tracker folder
task_tracker/.vscode/
task_tracker/.angular/
