<div>
  @if(authServ.isAuthenticated){
  <button mat-button (click)="authServ.logOut()">Log Out</button>

  }
</div>
<router-outlet></router-outlet>

<mat-toolbar class="footer">
 <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
   <mat-icon svgIcon="instagram-icon"></mat-icon> 
  </a>

  <div class="site-links">
    <a mat-button href="#">Home</a>
    <a mat-button href="#">About</a>
    <a mat-button href="#">Services</a>
  </div>

  <div class="logo-contact">
    <img src="assets/icons/pnge.png">
    <button mat-raised-button>Contact Us</button>
  </div>
</mat-toolbar>



