

@use '@angular/material' as mat;


@include mat.core();
@include mat.strong-focus-indicators();

$my-theme: mat.define-theme((color: (theme-type: light,
                primary: mat.$violet-palette,
            ),
        ));

html {
    background: linear-gradient(to right, rgb(217, 187, 225), rgb(255, 255, 255));
    color: rgb(116, 45, 109);
    @include mat.all-component-themes($my-theme);

}

.mat-mdc-button-base {
    border: 1px solid rgb(144, 47, 149) !important;
    background: linear-gradient(to right, rgb(191, 150, 202), rgb(239, 230, 230)) !important;
    padding: 10px 20px;
    margin: 5px;

}

.mat-mdc-button-base:focus-visible {
    outline: none;
}

.mat-mdc-focus-indicator {
    display: none;
}

.mat-mdc-card {
    background-color: rgb(199, 79, 189);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 50%;

}
.custom-card {
    margin-bottom: 120px; 
  }

.mat-mdc-card-content {
    padding: 16px;
    color: rgb(110, 23, 86);
}



.mat-mdc-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;


    th.mat-mdc-header-cell {
        background-color: rgb(110, 64, 112);
        color: white;
        font-weight: bold;
        padding: 10px;
    }


    td.mat-mdc-cell {
        padding: 10px;
        background-color: rgba(217, 187, 225, 0.3);
        color: rgb(116, 45, 109);

    }

    tr.mat-mdc-row:nth-child(even) {
        background-color: rgba(217, 187, 225, 0.5);

    }


    tr.mat-mdc-row:hover {
        background-color: rgb(144, 47, 149);
        color: white;
    }
}

.mat-mdc-form-field {
    width: 100%;
    margin-bottom: 1px;
    background-color: rgb(161, 100, 144);
    border-radius: 10px;
} 